<html>
    <body bgcolor=#d4a3ae>

        <center>

        <h1> GOAL KEEPER ABILITY </h1><br>

<!-- Main Input For Receiving Query to our ML -->
<form action="{{ url_for('predict')}}"method="post">
    <input type="text" name="Apps" placeholder="Apps" required="required" /><br>
      <input type="text" name="Height" placeholder="Height" required="required" /><br>
      <input type="text" name="Weight" placeholder="Weight" required="required" /><br>
      <input type="text" name="Age" placeholder="Age" required="required" /><br>
      <input type="text" name="Av Rat" placeholder="Av Rat" required="required" /><br>
      <input type="text" name="K Ps/90" placeholder="K Ps/90" required="required" /><br>
      <input type="text" name="Pas %" placeholder="Pas %" required="required" /><br>
      <input type="text" name="Distance" placeholder="Distance" required="required" /><br>
      <input type="text" name="Int/90" placeholder="Int/90" required="required" /><br>
      <input type="text" name="xSv %" placeholder="xSv %" required="required" /><br>
      <input type="text" name="Sv %" placeholder="Sv %" required="required" /><br>
      <input type="text" name="Svh" placeholder="Svh" required="required" /><br>
      <input type="text" name="Svt" placeholder="Svt" required="required" /><br>
      <input type="text" name="PoM" placeholder="PoM" required="required" /><br>
      <input type="text" name="Saves" placeholder="Saves" required="required" /><br>
      <input type="text" name="Saves/xSv%" placeholder="Saves/xSv%" required="required" /><br>
      <input type="text" name="Value" placeholder="Value " required="required" /><br>
      

        
     

      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
  </form>

 <br>
 <br>

 
</div>
{{prediction_text}}

</body>
</html>